# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
markdown.xml
sonarlint/
inspectionProfiles/
GitLink.xml
deployment.xml
misc.xml
