{% extends 'accounts/layout.html' %}
{% import 'lib/forms.html' as forms %}

{% block content %}
    <form method="post" class="space-y-5">
        {{ csrf_input }}
        {{ forms.form_field(form.password) }}
        {{ forms.form_field(form.password_confirmation) }}
        <button type="submit" class="btn btn-primary btn-block w-full justify-center">
            {{ _('Change password') }}
        </button>
    </form>
{% endblock %}

{% block footer %}
    <a href="{{ url('login') }}">{{ _('Cancel') }}</a>
{% endblock %}
