{% extends 'accounts/layout.html' %}
{% import 'lib/forms.html' as forms %}

{% block description %}
    <p class="text-gray-700 text-center mt-2">
        {{ _("We'll email you a link to reset it.") }}
    </p>
{% endblock %}

{% block content %}
    <form method="post">
        {{ csrf_input }}
        {{ forms.form_field(form.email) }}
        <button type="submit" class="btn btn-primary btn-block w-full justify-center">
            {{ _('Reset password') }}
        </button>
    </form>
{% endblock %}

{% block footer %}
    <a href="{{ url('login') }}">{{ _('Cancel') }}</a>
{% endblock %}
