{% extends 'mail/base_mail.html' %}
{% import 'kupala_mail/components.html' as mails %}
{% block content %}
    <h1>{{ _('Password reset') }}</h1>
    <p>
        {% trans %}
            Hi {{ user }}! <br />
            A request has been received to change the password for your account.
        {% endtrans %}
    </p>
    {{ mails.button(_('Click here to reset your password'), link) }}
    <p>
        {{ _("If you didn't request to reset your password, there's nothing to worry about - simply ignore this email.") }}
    </p>
{% endblock %}
